 <!DOCTYPE html>
<html>
<head>
<title>da homepage</title>
</head>

<body>
 <form action="/multiple_context_prompt" method="post">
  <label for="fname">Question: </label>
  <input type="text" id="question" name="question"><br><br>
  <label for="lname">Contexts: </label>
  <input type="text" id="contexts" name="contexts"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>

</html> 








